.table {
  display: flex;
  flex-direction: column;

  width: 1006px;
  margin: 0 auto;

  background-color: var(--color-dark-500);
}

.thead {
  background-color: var(--color-dark-500);
}

.th {
  display: flex;
  width: 201px;
  padding: 6px 24px;
}

.row {
  display: flex;
  align-items: flex-start;

  border-right: 1px solid var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.td {
  width: 201px;
  padding: 6px 24px;
  background-color: var(--color-dark-900);
}
