.card {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 33px 36px 29px;

  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .button {
      width: inherit;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }
}

.description {
  color: var(--color-light-900);
  opacity: 0.5;
}
