.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  &.sm {
    width: 367px;
  }

  &.md {
    width: 532px;
  }

  &.lg {
    width: 764px;
  }

  @media screen and (width <= 768px) {
    &,
    &.sm,
    &.md,
    &.lg {
      width: calc(100% - 50px);
    }
  }
}

.overlay {
  position: fixed;
  z-index: 0;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500);
}

.title {
  margin: 0;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.contentBox {
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  padding: 18px 24px;
}

.closeButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 2px;

  background: transparent;
  border: none;
  border-radius: 50%;

  transition: 0.4s background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-300);
    outline: none;
  }
}
