.pageDeck {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 1006px;
  margin: 36px auto auto;

  .button {
    display: flex;
    align-self: end;
  }

  .filterBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchDecks {
      width: 300px;
    }
  }

  .tempButton {
    background-color: var(--color-accent-500);
    border: none;
    border-radius: 0.25rem;
  }
}

.textModal {
  width: 100%;
  white-space: pre-line;
}

.blockButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image {
  height: 50px;
}
